* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  border: 1px solid rgb(0, 0, 0); 
  
}

html,
body {
  background-color: #000000;
  
  background-attachment: fixed;
  background-size: cover;
}

.container{
  
  min-width: 100%;
  min-height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario{
  min-width: 35%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.046);
  border-radius: 10px;
  box-shadow: 8px 6px 18px -2px #FFFFFF;
}
.login{
  margin-top: -15%;
   margin-bottom: 15%;
   font-size: 34px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   color: white;
}
.text-login{
  color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  margin-right: 20%;
  margin-bottom: 10px;
}
input{
  min-width: 50%;
  height: 5vh;
  margin-bottom: 10px;
  outline: none;
  text-align: center;
  border: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0.628);
  border-right: 1px solid rgba(255, 255, 255, 0.628);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.082);
  color: white;

}
.bot{
  width: 50%;
  height: 5vh;
  margin-top: 10px;
  border-radius: 20px;
  color: white;
  background-color: #000000;
  cursor: pointer;
  box-shadow: 1px  2px 18px -2px #FFFFFF;
  font-size: 20px;
  font-weight: bold;
}