* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  /* border: 1px solid rgb(0, 0, 0); */
  
}

html,
body {
  width: 100%;
  /*largura*/
  min-height: 100vh;
  /*minimo 100% da altura viewport*/
  height: 100%;
  /*altura*/
  background-color: #bdbdbd;
  
  background-attachment: fixed;
  background-size: cover;
}